<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1054" key="23f3becc-207e-4a9f-ae35-298e16d06533" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-07-14T14:59:31" updateDate="2018-07-14T14:59:31" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1053" creatorName="EPS_CMS" writerName="EPS_CMS" writerID="0" template="1052" nodeTypeAlias="homePage" isPublished="true">
    <welcomeText><![CDATA[I am learning Umbraco. High Five I Rock #H5IR]]></welcomeText>
  </homePage>
</root>