<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT website ANY>
<!ATTLIST website id ID #REQUIRED>
<!ELEMENT basePage ANY>
<!ATTLIST basePage id ID #REQUIRED>
<!ELEMENT welcomePage ANY>
<!ATTLIST welcomePage id ID #REQUIRED>
]>
<root id="-1">
  <website id="1100" key="b8973907-a95e-4304-a32b-2752b48f568e" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-07-15T15:19:32" updateDate="2018-07-15T15:21:02" nodeName="Witryna" urlName="witryna" path="-1,1100" isDoc="" nodeType="1095" creatorName="EPS_CMS" writerName="EPS_CMS" writerID="0" template="0" nodeTypeAlias="website" isPublished="true">
    <googleTagManagerId><![CDATA[test1]]></googleTagManagerId>
    <googleAnaliticsId><![CDATA[test2]]></googleAnaliticsId>
    <nazwaWitryny><![CDATA[test]]></nazwaWitryny>
    <welcomePage id="1093" key="4e5df28d-5182-4f8a-9cf8-3ec57cdc4ec6" parentID="1100" level="2" creatorID="0" sortOrder="1" createDate="2018-07-15T14:22:00" updateDate="2018-07-15T15:20:49" nodeName="Strona Powitalna" urlName="strona-powitalna" path="-1,1100,1093" isDoc="" nodeType="1092" creatorName="EPS_CMS" writerName="EPS_CMS" writerID="0" template="1091" nodeTypeAlias="welcomePage" isPublished="true">
      <opis><![CDATA[test]]></opis>
      <tytul><![CDATA[test]]></tytul>
      <slowaKluczowe><![CDATA[test]]></slowaKluczowe>
      <glownyNaglowek><![CDATA[test]]></glownyNaglowek>
      <tresc><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Witamy na naszej stronie</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "12314433-0255-0124-f02b-1a88a3a05228",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></tresc>
    </welcomePage>
  </website>
</root>