@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BasePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

@* the fun starts here *@

<html>
    <body>
        AMP <br />
        @RenderBody()
    </body>
</html>