@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.WelcomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    if (Request.QueryString["amp"] != null)
    {
        Layout = "Amp_Layout.cshtml";
    }
    else
    {
        Layout = "Layout.cshtml";
    }
}

<h1>@Model.Content.GlownyNaglowek</h1>